body {
    margin: 0;
    border: solid black 5px;
    background-color: rgb(0, 0, 0);
}
header {
    background-color: black;
    padding: 2rem 2rem;
}
ul, li {
    transition: 0.3s;
    margin: 0;
    float: left;
    background-color: red;
    padding: 1rem 3.97rem;
    list-style: none;

    border: solid black;
}

.division :hover {
    cursor: pointer;
    background-color: rgb(146, 11, 11);
    color: white;
}
.conteiner {
    width: 500px;
    background-color: rgba(240, 243, 245, 0.205);
    padding: 1rem;
    border-radius: 1rem;
    margin: 0 auto;
    border: solid black 8px;
}
.sub {
    transition: 0.3s;
    font-family: "Rock Salt", cursive;
  font-weight: 1000;
  font-style: normal;
  text-align: center;
  font-size: x-large;
  border: none;
  
}
.sub:hover {
    color:red;
    cursor: pointer;
}
.mar {
    margin: 1rem 6rem;
}
.C2 {
    margin: 1rem 1.5rem;
}
.CEO {
    margin: 1rem;
}
.GD {
    margin: 2.5rem;
}
.JV {
    margin: 1rem 3.5rem;
}
.K {
    margin: 1rem 5.5rem;
}
.margen {
    margin: 0 9.5rem;
}
#silvio {
    margin: 0 7rem;
}
.bajo {
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-around;
}
.letra {
    margin: 3rem 0;
}