body {
    margin: 0;
    border: solid black 5px;
    background-color: rgba(0, 0, 0, 0.66);
}
header {
    background-color: black;
    padding: 2rem 2rem;
}
ul, li {
    float: left;
    background-color: red;
    padding: 1rem 5rem;
    list-style: none;
    border: solid black;
}

.division :hover {
    cursor: pointer;
    background-color: rgb(146, 11, 11);
    padding: 1rem 5rem;
    color: white;
}
.conteiner {
    width: 500px;
    background-color: rgb(240, 243, 245);
    padding: 1rem;
    border-radius: 1rem;
    margin: 0 auto;
    border: solid black 5px;
}
.sub {
    font-family: "Rock Salt", cursive;
  font-weight: 1000;
  font-style: normal;
  text-align: center;
  font-size: x-large;
  
}
.sub:hover {
    color:red;
    cursor: pointer;
}
.mar {
    margin: 1rem 6rem;
}
#C2 {
    margin: 1rem 1.5rem;
}
#CEO {
    margin: 1rem;
}