body {
    margin: 0;
}
ul, li {  
    transition: 0.3s;
    background-color: yellow;
    padding: 1rem 3.9rem;
    list-style: none;
    text-align: center;
    border: solid rgb(0, 0, 0);
    font-family: Rock Salt;
}
.division:hover {
    color: white;
    background-color: rgb(255, 187, 0);
}
.container {
    width: 500px;
    background-color: rgba(0, 0, 0, 0.329);
    padding: 1rem;
    border-radius: 1rem;
    margin: 0 auto;
    border: solid yellow 8px;
    color: white;
}
.bajo {
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-around;
}
.letra {
    margin: 3rem 0;
}   