body {
    margin: 0;
    border: solid black 5px;
    background-color: rgb(0, 0, 0);
}
header {
    background-color: black;
    padding: 2rem 2rem;
}
.imagen{

    width: 100%;
}
.division {
    background-color: rgb(255, 0, 0);
    width: 100%;
    display: flex;
    height: 60px;
    align-items: center;
    box-sizing: border-box;
    padding: 10px;
}

.division li {
    border: solid black;
    transition: 0.3s;
    padding: 10px 20px;
    height: 100%;
    text-align: center;
}
.division li a {
    text-decoration: none;
    text-align: center;
}
.division :hover {
    cursor: pointer;
    background-color: rgb(146, 11, 11);
    color: white;
}
.conteiner {
    width: 500px;
    background-color: rgba(240, 243, 245, 0.205);
    padding: 1rem;
    border-radius: 1rem;
    margin: 0 auto;
    border: solid black 8px;
}
.conteiner img {
    transition: 0.3s;
}
.conteiner img:hover{
    transform: scale(1.1);
}
.sub {
    transition: 0.3s;
    font-family: "Rock Salt", cursive;
  font-weight: 1000;
  font-style: normal;
  text-align: center;
  font-size: x-large;
  border: none;
  
}
.sub:hover {
    color:red;
    cursor: pointer;
}
.mar {
    margin: 1rem 6rem;
}
.C2 {
    margin: 1rem 1.5rem;
}
.CEO {
    margin: 1rem;
}
.GD {
    margin: 2.5rem;
}
.JV {
    margin: 1rem 3.5rem;
}
.K {
    margin: 1rem 5.5rem;
}
.margen {
    margin: 0 9.5rem;
}
#silvio {
    margin: 0 7rem;
}
.bajo {
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-around;
}
.letra {
    margin: 3rem 0;
}
@media (max-width:770px){
    ul, li {
        font-size: 15px;
    }
}
@media (max-width:600px){
    ul, li {
        font-size: 10px;
    }
}

    
    